button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}



.btn{
    font-size: $bodyXS;
    padding: 17px 15px;
    min-width: 192px;
    color: $white;
    border-width: 1px;
    border-style: solid;
    transition: 0.4s all ease-in-out;
    position: relative;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1.2;
    border-radius: 0px;
    clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);

    &:hover{
        color: $white;
    }
}


.btn-primary{
    &:hover{
        background-color: $secondary;
        border-color:  $secondary;
    }
}