
.card-hover{
    img{
        transform: scale(1);
        transition: 0.4s all ease-in-out;
    }
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
}


.theme-card {
    .card-img{
        border-radius: 0px;
    }

    .body-card:before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 6%, rgba(0, 0, 0, 0.75) 30%, rgba(0, 0, 0, 0.55) 49%, rgba(0, 0, 0, 0) 100%);
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .btn-with-icon{
        color: $white;

        @include media-breakpoint-down(lg) {
            width: 50px;
            height: 50px;
        }
    }

    &:hover .btn-with-icon{
        background-color: transparent;
        color: $primary;
    }

    .card-img{
        height: 390px;
        @include media-breakpoint-down(lg) {
            height: 300px;
        }
    }
    
    .body-card {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        z-index: 9;
    }
}

.card-with-inner-body{
    .card-img{
        height: 330px;
        @include media-breakpoint-down(lg) {
            height: 360px;
        }
    }

    .body-card{
        top: auto;
        bottom: 0px;
        transform: none;
        padding: 30px;
        @include media-breakpoint-down(md) {    
            padding: 30px 45px;
        }

        h3{
            font-size: 22px;
            line-height: 1.3;
            @include media-breakpoint-down(md) {    
                font-size: 30px;
            }

        }
    }


    &:before{
        @include media-breakpoint-down(md) {    
            width: 100%;
            height: 100%;
            position: absolute;
            display: block;
            background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 6%,rgba(0,0,0,0.80) 24%,rgba(0,0,0,0) 88%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
            opacity: 1;
            top: auto;
            left: 0;
            z-index: 1;
            bottom: 0px;
        }
    }
}


// blog card css
.news-card{
    text-decoration: none;
    .card-img{
        height: 260px;
        border-radius: 0px;
        @include media-breakpoint-down(md) {
            height: 270px;
        }
    }

    .body-card{
        h3{
            font-size: 22px;
            line-height: 1.2;
        }
        p{
            line-height: 1.8;
        }
    }
    
    &:hover{
        .icon-btn{
            background-color: $secondary;
            color: $white;
        }
    }
}

// END blog card css



.case-study-card{
    display: block;
    .case-study-img {
        height: 486px;

        @include media-breakpoint-down(lg) {
            height: 275px;
        }
    }
}


/* card-with-inner-body */
.card-with-inner-body{
    position: relative;
  
    .card-body{
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 10;
      width: 100%;
      padding:30px;
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 26%, rgba(0,0,0,0.6) 99%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 26%,rgba(0,0,0,0.6) 99%,rgba(0,0,0,0.6) 100%);
      color: $white;
        @include media-breakpoint-down(lg) {
            padding:20px;
        }
  
        .card-title{
          font-size: $headingS;
          margin-bottom: 20px;
            @include media-breakpoint-down(md) {
                margin-bottom: 15px;
            }
      }
    }
  }
  
  