
.card-hover{
    img{
        transform: scale(1);
        transition: 0.4s all ease-in-out;
    }
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
}


.story-card{
    @include media-breakpoint-up(lg) {
        margin-bottom: -20px;
    }

    .card-img{
        height: 300px;
        overflow: hidden;
        border-radius: 0px;
        @include media-breakpoint-up(md) {
            height: 350px;
        }
        @include media-breakpoint-up(lg) {
            height: 450px;
        }
    }
    .story-body {
        @include media-breakpoint-up(md) {
            padding-left: 20px;
            padding-right: 20px;
            box-shadow: 0 0 36px rgb(113 113 113 / 10%);
        }
        @include media-breakpoint-up(lg) {
            padding-left: 35px;
            padding-right: 35px;
            transform: translateY(-100px);
        }

        h3{
            font-weight: normal;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }
        a{
            font-size: 16px;
        }
    }
}

.insight-img,
.product-card-img{
    height: 400px;
    overflow: hidden;
    @include media-breakpoint-down(lg) {
        height: 300px;
    }
}

/* insights card */
.insights-body{
    h3{
        font-size: 22px;
        @include media-breakpoint-down(lg) {
            font-size: 18px;
        }
    }
    .read-more{
        font-size: 16px;
        text-decoration: underline;
    }
}
/* END insights card */



.theme-card {
    .card-img{
        border-radius: 0px;
    }

    .body-card:before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 6%, rgba(0, 0, 0, 0.75) 30%, rgba(0, 0, 0, 0.55) 49%, rgba(0, 0, 0, 0) 100%);
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .btn-with-icon{
        color: $white;

        @include media-breakpoint-down(lg) {
            width: 50px;
            height: 50px;
        }
    }

    &:hover .btn-with-icon{
        background-color: transparent;
        color: $primary;
    }

    .card-img{
        height: 390px;
        @include media-breakpoint-down(lg) {
            height: 300px;
        }
    }
    
    .body-card {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        z-index: 9;
    }
}

.card-with-inner-body{
    .card-img{
        height: 330px;
        @include media-breakpoint-down(lg) {
            height: 360px;
        }
    }

    .body-card{
        top: auto;
        bottom: 0px;
        transform: none;
        padding: 30px;
        @include media-breakpoint-down(md) {    
            padding: 30px 45px;
        }

        h3{
            font-size: 22px;
            line-height: 1.3;
            @include media-breakpoint-down(md) {    
                font-size: 30px;
            }

        }
    }


    &:before{
        @include media-breakpoint-down(md) {    
            width: 100%;
            height: 100%;
            position: absolute;
            display: block;
            background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 6%,rgba(0,0,0,0.80) 24%,rgba(0,0,0,0) 88%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
            opacity: 1;
            top: auto;
            left: 0;
            z-index: 1;
            bottom: 0px;
        }
    }
}


// blog card css
.news-card{
    text-decoration: none;
    .card-img{
        height: 260px;
        border-radius: 0px;
        @include media-breakpoint-down(md) {
            height: 270px;
        }
    }

    .body-card{
        h3{
            font-size: 22px;
            line-height: 1.2;
        }
        p{
            line-height: 1.8;
        }
    }
    
    &:hover{
        .icon-btn{
            background-color: $secondary;
            color: $white;
        }
    }
}

// END blog card css



.case-study-card{
    .case-study-img {
        height: 500px;

        @include media-breakpoint-down(lg) {
            height: 300px;
        }
    }
}