// home page
.hero-section{
    @include media-breakpoint-down(md) {
        background-color: $light;
    }

    @include media-breakpoint-up(md) {
        color: #fff;
    }

    .hero-slide{
        @include media-breakpoint-up(md) {
        height: 100vh;

            &:after{
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
                position: absolute;
                top: 0;
                left: 0px;
            }
        }
    }

    .hero-slide{
        @include media-breakpoint-up(md) {
            .hero-slide-box{
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                left: 0px;
                right: 0px;
                z-index: 9;
            }
        }
    }

    h1{
        font-size: 40px;

        @include media-breakpoint-up(md) {
            font-size: 60px;    
        }
    }

    p{
        @include media-breakpoint-down(md) {  
            color: $secondary;
        }
        @include media-breakpoint-up(md) {  
            font-size: 20px;
        }
    }
    

    .hero-banner{
        height: 100%;
        @include media-breakpoint-down(md) {
            height: 420px;
            object-position: center right;
        }
    }


    @include media-breakpoint-up(md) {
        .btn-primary:last-child{
            background-color: transparent !important;
            border-color: transparent !important;
            color: $white !important;
            min-width: 140px !important;

            &:hover{
                background-color: transparent !important;
                border-color: transparent !important;
            }
        }
    }
}


.who-we-are-section{
    h2{
        font-size: 40px;

        @include media-breakpoint-up(md) {
            font-size: 50px;
        }
    }

    .bg-section-img{
        max-width: 450px;
        transform: translateX(50%) translateX(50px);

        @include media-breakpoint-up(md) {
            max-width: 730px;
            width: 80%;
        }
    }
}

// what we do section
.what-we-do-section{
    background: -webkit-linear-gradient(top, rgba(237,108,79,1) 0%,rgba(237,108,79,1) 50%,rgba(4,60,57,1) 50%,rgba(4,60,57,1) 100%); /* Chrome10-25,Safari5.1-6 */
}
// END what we do section


.services-lists-group {
    top: 140px;
    padding: 44px 36px;
    border-radius: 0px;
    @include media-breakpoint-down(md){
        padding: 34px 35px 26px;
    }
    @include media-breakpoint-up(md){
        position: sticky;
        z-index: 999;
    }
    @include media-breakpoint-down(md){
        position: relative;
        top: 0;
        z-index: 999;
    }

    &.bg-secondary{
        .list-group-item.active{
            border-color: $primary;
            @include media-breakpoint-down(md){
                border-color: $white;
            }
        }
    }
    &.bg-primary{
        .list-group-item.active{
            border-color: $secondary;
            @include media-breakpoint-down(md){
                border-color: $white;
            }
        }
    }
    @include media-breakpoint-down(md){
        flex-wrap: nowrap;
        overflow: auto;
    }
    > .list-group-item {
        border-color: #fff;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 0;
        padding: 0px 45px 0px 0px;
        background-color: transparent !important;
        font-size: $bodyXS;
        letter-spacing: 1.2px;
        // line-height: normal;
        transition: 0.2s all ease-in-out;
        @include media-breakpoint-up(md){
            padding: 0px 0px 0px 0px;
            margin-bottom: 16px;
        }
        @include media-breakpoint-down(md){
            padding: 0px 17px 0px 0px;
            font-size: $bodyS;
            letter-spacing: 0.98pt;
            white-space: nowrap;
        }
        &:hover{
            color: $secondary !important;
        }
        &.active{
            border-width: 0px 0px 0px 2px;
            padding-left: 10px;
            @include media-breakpoint-down(md){
                border-width: 0px 0px 0px 1px;
            }
        }
        &:last-child{
            margin-bottom: 0;
            padding-right: 0;
        }
    }
}

.overview-image{
    img{
        height: 435px;
        @include media-breakpoint-down(md){
            height: 305px;
        }
    }
}

.problem-solving{
    height: 350px;
    @include media-breakpoint-down(md){
        height: 289px;
    }
}

.leadership-image{
    img{
        height: 435px;
        @include media-breakpoint-down(md){
            height: 289px;
        }
    }
}